<%= form_for team, html: {class: 'form-horizontal'} do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Team Name', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :captain_email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :captain_email, class: 'form-control' %>
    </div>
  </div>
  <% count = 1 %>
  <%= f.fields_for :riders, @team.riders do |ff| %>
    <fieldset>
      <legend><%= "Rider #{count}" %></legend>
      <% count += 1 %>
      <div class="form-group">
        <%= ff.label :name, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= ff.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= ff.label :level, class: 'col-sm-2 control-label'%>
        <div class="col-sm-10">
          <%= ff.text_field :level, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= ff.label :strava_id, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= ff.text_field :strava_id, class: 'form-control' %>
        </div>
      </div>
    </fieldset>
    <br/>
  <% end %>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-success' %>
  </div>
<% end %>
