<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table class='table table-striped table-responsive'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Captain email</th>
      <th>Start Time</th>
      <th>Avg MPH</th>
      <th>Slowest MPH</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.captain_email %></td>
        <td><%= team.start_time %></td>
        <td><%= team.riders.average(:ytd_mph) %> </td>
        <td><%= team.riders.minimum(:ytd_mph) %> </td>
        <td>
          <%= link_to 'Riders', riders_path(q: {team_id_eq: team.id}) %>
          <%= link_to 'Edit', edit_team_path(team) %>
          <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
