<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Captain email:</strong>
  <%= @team.captain_email %>
</p>

<p>
  <strong>Captain name:</strong>
  <%= @team.captain_name %>
</p>

<p>
  <strong>Captain level:</strong>
  <%= @team.captain_level %>
</p>

<p>
  <strong>Captain strava:</strong>
  <%= @team.captain_strava_id %>
</p>

<p>
  <strong>Rider 2 name:</strong>
  <%= @team.rider_2_name %>
</p>

<p>
  <strong>Rider 2 level:</strong>
  <%= @team.rider_2_level %>
</p>

<p>
  <strong>Rider 2 strava:</strong>
  <%= @team.rider_2_strava_id %>
</p>

<p>
  <strong>Rider 3 name:</strong>
  <%= @team.rider_3_name %>
</p>

<p>
  <strong>Rider 3 level:</strong>
  <%= @team.rider_3_level %>
</p>

<p>
  <strong>Rider 3 strava:</strong>
  <%= @team.rider_3_strava_id %>
</p>

<p>
  <strong>Rider 4 name:</strong>
  <%= @team.rider_4_name %>
</p>

<p>
  <strong>Rider 4 level:</strong>
  <%= @team.rider_4_level %>
</p>

<p>
  <strong>Rider 4 strava:</strong>
  <%= @team.rider_4_strava_id %>
</p>

<p>
  <strong>Rider 5 name:</strong>
  <%= @team.rider_5_name %>
</p>

<p>
  <strong>Rider 5 level:</strong>
  <%= @team.rider_5_level %>
</p>

<p>
  <strong>Rider 5 strava:</strong>
  <%= @team.rider_5_strava_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
