<%= search_form_for @q, class: 'form-inline' do |f| %>

  <%= f.label :name_cont, "Name:" %>
  <%= f.search_field :name_cont %>

  <%= f.label :team_id_eq, "Team" %>
  <%= f.collection_select :team_id_eq, Team.order("name ASC"), :id, :name, include_blank: true %>

  <%= f.submit 'Search', class: 'btn btn-success' %>
<% end %>

<h1>Riders</h1>

<table class='table table-striped table-responsive'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>YTD MPH</th>
      <th>YTD Miles</th>
      <th>YTD Hours</th>
      <th>YTD Elevation</th>
      <th>YTD Rides</th>
      <th>All Time Miles</th>
      <th>All Time Hours</th>
      <th>All Time Elevation</th>
      <th>All Time Rides</th>
    </tr>
  </thead>

  <tbody>
    <% @riders.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.level %></td>
        <td><%= number_with_delimiter r.ytd_mph %></td>
        <td><%= number_with_delimiter r.ytd_distance %></td>
        <td><%= seconds_to_hours r.ytd_time %></td>
        <td><%= number_with_delimiter r.ytd_elevation %></td>
        <td><%= r.ytd_rides %></td>
        <td><%= number_with_delimiter r.all_time_distance %></td>
        <td><%= seconds_to_hours r.all_time_time %></td>
        <td><%= number_with_delimiter r.all_time_elevation %></td>
        <td><%= r.all_time_rides %></td>
      </tr>
    <% end %>
  </tbody>
</table>

